@import "reset.css";
#wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
}

a {
    text-decoration: none;
    list-style: none;
    color: black;
}
input:focus {
    outline: none;
}

header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.header-box {
    width: 100%;
    height: 100%;
    position: relative;
}
.text-logo {
    width: auto;
    height: auto;
}
.text-logo span {
    font-size: 20px;
    font-weight: bold;
}
.header-box > div {
    width: auto;
    height: auto;
    display: inline-block;
    padding-top: 10px;
}
.ul-box li {
    display: inline-block;
}

.text-logo {
    position: absolute;
    left: 0;
    padding-left: 10px;
}

.search-form-box {
    position: absolute;
    /*left: 500px;*/
    left: 44%;
}
.search-form-box .search {
    width: 300px;
    height: 30px;
    padding-left: 10px;
}

.ul-box {
    position: absolute;
    right: 0;
    padding-right: 10px;
}
.ul-box .line {
    height: 15px;
    border-left: 1px solid black;
}


.list-color {
    color: #35C5F0;
}
.nav-ul span {
    display: inline-block;
    height: auto;
    width: auto;
}
.top-category01 span a:hover {
    color: #35C5F0;
}
.title-name >  a:hover {
    color: #35C5F0;
}

.all-category {
    width: 100%;
    height: auto;
}

.top-category {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.top-category div {
    width: 100%;
    text-align: center;
    height: 100%;
    padding: 10px 0;
}
.top-category .title {
    width: auto;
    padding: 0 30px;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
}
.title-name {
    display: inline-block;
    padding: 10px 15px;
}
.bottom-category {
    display: none;
    text-align: center;
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 7px 0px;
}
.bottom-title {
    display: inline-block;
    padding: 0 30px;
    font-size: 20px;
}
}

.bottom-category div > a {
    width: auto;
    display: inline-block;
    /* margin: auto 0; */
    /* height: 100%; */
    padding: 10px 15px;
}
.bottom-category a:hover {
    color: #35C5F0;
}