/* 코디 메인 페이지 */
/* 
*,
*::after,
*::before {
	box-sizing: border-box;
}
body {
	font-family: 'Avenir Next', Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	background: #e9ecef;
}
.page--static {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	align-items: center;
	max-width: 1220px;
	margin: 0 auto;
	padding: 2em 0 0;
	text-align: center;
}



.form-group-sort{
	margin-left: 50px;
	margin-top: 50px;
}
.sort-ul li{
	margin-right: 5px;
}

.form-group-feed-ul{
	position: relative;
	z-index: 100;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 0 6em;
	list-style: none;
}
.form-group-feed-li {
	display: block;
	-webkit-flex: none;
	flex: none;
	width: 33.33%;
	padding: 50px;
}





피드
.feed{
	width: 100%;
}


.thumb{
	display: inline-block;
	width: 100%;
}
.feed-title-a {
	font-family: 'Caveat', cursive;
	line-height: 1;
	position: relative;
	overflow: hidden;
	margin: 0;
	padding: 1em 0.5em;
	text-align: left;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #698b8d;
	background: #fff;
} */

/* 크기 지정 */
.row-cols-md-3 > * {
    width:300px !important;
    flex: 0 0 auto;
}
.img-box {
	width: 300px;
	border-radius: 15px;
}

/* 상단 버튼 */
.form-group-top{
	margin-top: 50px;
    margin-left: 140px;
    margin-bottom: -70px;
}
#register-btn{
	margin-left:1180px;
	margin-top: -40;
}
.top-btn{
    display: inline-block;
    margin: 0;
    margin-left:7px;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    font-size: 14px;
    line-height: 18px;
    width: auto;
    height: 40px;
    border-radius: 4px;
    padding: 0 16px;
    font-weight: 400;
    box-sizing: border-box;
    text-align: center;
    color: #FFFFFF;
    background-color: #f891aa;
    outline: none;
    overflow: hidden;
}




/* 좋아요 */
.like-btn{
	background: none;
	border: none;
}
.fa-heart{
	color: #f891aa;
}
.like-count{
	color: #f891aa;
}

/* 댓글달기 */
.fa-comment-dots{
	color: #c0c0c0;
} 
.comment-link{
	color: #c0c0c0;
	text-decoration: none;
}

