#wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
}
.notice {
    color: #35C5F0;
}
.qa {
    color: #000000;
}
.register {
    color: #000000;
}
.feq-box {
    width: 100%;
    height: auto;
    padding-top: 40px;
}
.pull-right {
    width: 100%;
    height: auto;
    text-align: center;
}
.list {
    width: 800px;
    margin: 0 auto;
}
.list li {
    display: block;
    padding: 17px 0 17px 10px;
    border-bottom: 1px solid;
    position: relative;
}
.list a:nth-child(1) {
    display: block;
    border-top: 1px solid black;
}