/* 어드민 */
.customerCenter-a {
	color : #35C5F0;;
}
.bottom-category {
	display:block;
}
.title-qna {
	color : #35C5F0;;
}
.qna-write {
    width: 100%;
    height: auto;
    padding: 30px 0;
}
.qna-write > .notice-box {
    width: 800px;
    margin: 0 auto;
    text-align: right;
}
.notice-box > .write-btn {
    border-radius: 22px;
    padding: 5px 20px;
    background-color: #5195bb;
    border: none;
    color: #ffffff;
}
.write-btn > span {
	display: inline-block;
	font-size: 18px
}
.admin-list {
	width: 850px !important;
}
.qna-admin {
	width: 100%;
    height: auto;
    /* padding: 17px 0 17px 10px; */
    cursor: pointer;
}
.qna-top2 {
    width: 710px;
    height: auto;
    display: inline-block;
    position: relative;
    padding: 17px 0 17px 10px;
}
.qna-top1 {
	width: 100%;
    height: auto;
    display: inline-block;
    position: relative;
    padding: 17px 0 17px 10px;
}
.qna-btn {
    display: inline-block;
    position: relative;
    width: auto;
    padding-left: 20px
}
.admin-img {
	right: 0 !important;
}

/* 어드민 끝 */
#wrap {
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
}
.qa {
    color: #35C5F0;
}
.notice {
    color: #000000;
}
.register {
    color: #000000;
}
.update {
	margin-right: 4px;
}
.admin-qna {
	width: 100%;
    height: auto;
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 10px 0;
}
.qna-nav li {
    padding: 0 5px;
    display:inline-block;
}
.qna-nav .board-radio {
    display: inline-block;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #f9f9f9;
    padding: 3px 26px;
}
.qna-nav span {
    width: auto;
    height: auto;
}
.radio-bax {
    width: auto;
    height: auto;
}
.qna-nav .on {
    color: #ffffff;
    background-color: #000000;
}
.qna-nav a:hover {
    color: #ffffff;
    background-color: #000000;
    cursor: pointer;
}
.feq-box {
    width: 100%;
    height: auto;
    padding-top: 40px;
}
.feq-box .pull-right {
    width: 100%;
    height: auto;
    text-align: center;
}
.list {
    width: 800px;
    margin: 0 auto;
}
.list .qna-title {
    width: 100%;
    height: auto;
    display: block;
    /*padding: 17px 0 17px 10px;*/
    border-bottom: 1px solid black;
    position: relative;
}
.qna-top {
    width: 100%;
    height: auto;
    /* padding: 17px 0 17px 10px; */
    cursor: pointer;
}
.qna-title:nth-child(1) > .qna-top {
    border-top: 1px solid black;
}
.list-category, .list-title, .date, .list >li a {
    font-size: 18px;
    display: inline-block;
}
.list-category {
    width: 102px;
    height: auto;
}
.list-title {
    width: 400px;
    height: auto;
}
.list >li .img{
    position: absolute;
    width: 24px;
    height: 20px;
    background: url(../img/icn_dropdown.png) no-repeat 0;
    right: 20px;
}

.qna-bottom {
    width: 100%;
    height: auto;
    display: none;
    border-top: 1px solid black;
}
.qna-box {
    /*display: none;*/
    padding: 17px 0 17px 10px;
    position: relative;
    background-color: #f7f9fa;
}

.qna-answer {
    font-size: 20px;
    line-height: 30px;
}