<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ko.kostyle.mapper.AdminOrderMapper"> <!-- 고유한 도메인 -->

	<sql id="criteria">
		<trim prefix="(" suffix=") and" prefixOverrides="and">
			<choose>
				<when test="type == 'K'.toString()">
					ono = #{keyword}
				</when>
				<when test="type == 'E'.toString()">
					mno = (select mno from member where email = #{keyword})
				</when>
				<when test="type == 'S'.toString()">
					status = #{keyword}
				</when>
			</choose>
			<choose>
				<when test="filter == 'P'.toString()">
					and category = 'product' 
				</when>
				<when test="filter == 'A'.toString()">
					and category = 'auction_product'
				</when>
			</choose>			
		</trim>
	</sql>
	
	<!-- 낙찰된 상품의 주문 추가 -->
	<insert id="insertAuctionOrder">
        <selectKey keyProperty="ono" order="BEFORE"
                   resultType="long">
            select ono_seq.nextval from dual
        </selectKey>
        insert into orders
        values (#{ono},#{ano},#{mno}, #{payment}, #{totalPrice}, #{status}, sysdate, #{category})		
	</insert>


<!-- 주문 목록 조회 -->
	<select id="orderList" resultType="ko.kostyle.domain.OrderVO">
		<![CDATA[
        select * from(
            select rownum rn, ono, ano, mno, payment, totalprice, status, created_date, category
            from orders
            where
             ]]>
		<include refid="criteria"></include>
        	<![CDATA[
        	 totalprice > 0 and	            
             rownum <= #{pageNum} * #{amount})
        where

         rn > (#{pageNum} - 1) * #{amount}
        order by ono desc
        ]]>
	</select>

	<select id="getOrder" resultType="ko.kostyle.domain.OrderVO">
		select * from orders where ono
		= #{ono}
	</select>

	<select id="orderDetails"
		resultType="ko.kostyle.domain.OrderDetailVO">
		select * from order_detail
		where odno not in
		(select odno from order_cancel)
		and ono = #{ono}
	</select>

	<select id="getOrderDetail"
		resultType="ko.kostyle.domain.OrderDetailVO">
		select * from order_detail where odno = #{odno}
	</select>

	<!--  배송지 상세 -->
	<select id="addressDetail"
		resultType="ko.kostyle.domain.AddressVO">
		select * from address where ano = #{ano}
	</select>


	<!--  상품 상세 -->
	<select id="productDetail"
		resultType="ko.kostyle.domain.ProductVO">
		select * from product where pno =
		(select pno from
		order_detail where odno = #{odno})
	</select>


	<select id="getTotal" resultType="int">
		select count(*) from orders
		where
		<include refid="criteria"></include>
		ono > 0
	</select>

	<update id="updateOrderStatus">
		update orders set status=#{status} where ono = #{ono}
	</update>
	
</mapper>

