<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ko.kostyle.mapper.MemberMapper"> <!-- 고유한 도메인 -->

    <insert id="memberInsert" parameterType="ko.kostyle.domain.MemberVO">

        <selectKey keyProperty="mno" order="BEFORE"
                   resultType="long">
            select mno_seq.nextval from dual
        </selectKey>
        insert into member
        values (#{mno},#{email},#{name}, #{password}, #{birth}, #{gender}, 0, #{authority}, sysdate)
    </insert>

    <select id="memberDetailByEmail" resultType="ko.kostyle.domain.MemberVO">
        select * from member where email = #{email}
    </select>

    <select id="memberDetailById" resultType="ko.kostyle.domain.MemberVO">
        select * from member where mno = #{id}
        
    </select>

    <select id="findId" resultType="String">
        select email from member where name = #{name} and birth = #{birth}
    </select>

    <update id="updatePassword" parameterType="ko.kostyle.domain.MemberVO">
        update member set password = #{password} where email = #{email}
    </update>

    <update id="updateInfo" parameterType="ko.kostyle.domain.MemberVO">
        update member set name = #{name}, password = #{password} where mno = #{mno}
    </update>

    <delete id="deleteMember">
        delete from member where mno=#{mno}
    </delete>
    
    <select id="memberList" resultType="ko.kostyle.domain.MemberVO">
    <![CDATA[
        select * from(
            select rownum rn, mno, email, name, birth, gender, point, authority, created_date
            from member
            where rownum <= #{pageNum} * #{amount})
        where rn > (#{pageNum} - 1) * #{amount}
        ]]>
    </select>



    <update id="updateMember">
        update member set point=#{point}, authority=#{authority} where mno = #{mno}
    </update>

    <select id="getTotal" resultType="int">
        select count(*) from member where mno > 0
    </select>
</mapper>

