<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ko.kostyle.mapper.ProductMapper"> <!-- 고유한 도메인 -->


<!--  	<resultMap type="ko.kostyle.domain.ProductVO" id="productMap">
		<id property="pno" column="pno"/>
		<result property="pno" column="pno"/>
		<result property="scno" column="scno"/>
		<result property="name" column="name"/>
		<result property="price" column="price"/>
		<result property="hitCount" column="hitCount"/>
		<result property="season" column="season"/>
		<result property="color" column="color"/>
		<result property="gender" column="gender"/>
		<result property="created_date" column="created_date"/>
		<result property="last_modified_date"  column="last_modified_date"/>
	</resultMap>  -->
	
	
	<insert id = "productInsert" >
		<selectKey resultType="Long" order="BEFORE" keyProperty="pno">
			select pno_seq.nextval from dual
		</selectKey>
			INSERT INTO PRODUCT(pno, scno,NAME,PRICE,HITCOUNT,SEASON,COLOR,GENDER,CREATED_DATE,LAST_MODIFIED_DATE)
			VALUES(#{pno},#{scno},#{name},#{price},0,#{season},#{color},#{gender},sysdate,sysdate)
	</insert>

	<insert id="stockInsert" parameterType="ko.kostyle.domain.StockVO">
		<selectKey resultType="Long" order="BEFORE" keyProperty="sno">
			select sno_seq.nextval from dual
		</selectKey>
			INSERT INTO STOCK(sno,pno,p_size,amount)
			VALUES(#{sno},#{pno},#{p_size},#{amount})
	</insert>   	
	
	<insert id="imgInsert" parameterType="ko.kostyle.domain.Product_ImgVO">
		<selectKey resultType="Long" order="BEFORE" keyProperty="pino">
			select pino_seq.nextval from dual
		</selectKey>
				insert into PRODUCT_IMG(pino, pno, fileName, filePath, uuid) 
				values (#{pino},#{pno}, #{fileName}, #{filePath}, #{uuid})
	</insert> 
	
 	<select id="stockList" resultType="ko.kostyle.domain.StockVO">
	select * from stock where pno = #{pno}
	</select> 

	<select id="productGet" resultType="ko.kostyle.domain.ProductVO">
		SELECT * FROM PRODUCT where pno = #{pno}
	</select>
	



	<update id="productUpdate">
		UPDATE PRODUCT
		SET name = #{name}, price = #{price}, season = #{season},color = #{color}, gender = #{gender},LAST_MODIFIED_DATE = sysdate
		where pno = #{pno}
	</update>
	
	<update id="stockUpdate">
		UPDATE STOCK
		SET amount = #{amount}
		where pno = #{pno} and p_size = #{p_size}
	</update>
	
	<!-- 조회수 증가 -->
   <update id="updateHitcount">
      update product
      set hitcount = hitcount + 1
      where pno = #{pno}
   </update>
	
	<delete id="productDelete">
		DELETE FROM PRODUCT WHERE pno = #{pno}
	</delete>
	
	<!-- 지정 상품 이미지 전체 삭제 --> 
	<delete id="imageDelete">
		delete FROM PRODUCT_IMG where pno=#{pno}
	</delete>
	
	
	<sql id="criteria">
		<trim prefixOverrides="OR" suffix=") AND " prefix="(">
			<foreach collection="typeArr" item="type"> 
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							pno like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							name like '%'||#{keyword}||'%' 
						</when>
						<when test="type == 'W'.toString()">
							scno = #{keyword}
						</when>
					</choose>
				</trim>
			</foreach>		
		</trim>
	</sql>
	
	
	<select id="productGetTotal" resultType="int">
		
		select count(*) from
		PRODUCT where
		<include refid ="criteria"/>
		pno>0
	</select> 
	
 	<select id="getListWithPaging" resultType="ko.kostyle.domain.ProductVO">
		<![CDATA[
			select pno,name,price,color,gender,season,CREATED_DATE, hitcount
			FROM(
				select /*+INDEX_DESC(PRODUCT SYS_C007221)*/
				rownum rn,pno,name,price,color,gender,season,CREATED_DATE,hitcount
				from PRODUCT
				where
					]]>
				<include refid ="criteria"/>
				<![CDATA[
					rownum <= #{pageNum} * #{amount}
					) where rn > (#{pageNum}-1) * #{amount}
				]]>
				
	</select> 
	
	
	<sql id="criteria2">
		<trim prefixOverrides="OR" suffix=") AND " prefix="(">
			<foreach collection="typeArr" item="type"> 
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							pno like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							name like '%'||#{keyword}||'%' 
						</when>
						<when test="type == 'W'.toString()">
							scno = #{keyword}
						</when>
					</choose>
				</trim>
			</foreach>		
		</trim>
		<trim>
			<if test="scno != 0">
				scno = #{scno} and
			</if>
			<if test="pcno != 0">
				
				scno in (select scno from sub_category where pcno=#{pcno}) and
			</if>			
		</trim>
	</sql>
	
	
	<select id="productGetTotal2" resultType="int">
		
		select count(*) from
		PRODUCT where
		<include refid ="criteria2"/>
		pno>0
	</select> 
	
 	<select id="getListWithPaging2" resultType="ko.kostyle.domain.ProductVO">
		<![CDATA[
			select pno,name,price,color,gender,season,CREATED_DATE, hitcount
			FROM(
				select /*+INDEX_DESC(PRODUCT SYS_C007221)*/
				rownum rn,pno,name,price,color,gender,season,CREATED_DATE,hitcount
				from PRODUCT
				where
					]]>
				<include refid ="criteria2"/>
				<![CDATA[
					rownum <= #{pageNum} * #{amount}
					) where rn > (#{pageNum}-1) * #{amount}
				]]>
				
	</select> 
   

    
</mapper>

