<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ko.kostyle.mapper.StockMapper"> <!-- 고유한 도메인 -->

	<!-- 재고 업데이트 -->
	<update id="updateStock">
		update stock set amount = amount + #{amount} where pno=#{pno}
		and p_size=#{p_size}
	</update>
	
	<select id="stockAmount" resultType="int">
		select amount from stock where pno=#{pno} and p_size=#{p_size}
	</select>

</mapper>

