/* 어드민 css */
.customerCenter-a {
	color: #35C5F0;
}
.bottom-category {
	display: block;
}
.title-qna {
	color : #35C5F0;;
}
.select-box {
	padding: 10px 0;
}
.category-name {
    font-size: 20px;
    font-weight: normal;
}
.category-ch {
	font-size: 20px;
}
/*  */
textarea:focus {
	outline: none;
}
#wrap {
	width: 100%;	
    min-height: 100%;
    position: relative;
    padding-bottom: 100px;
}
.register {
	color: #35C5F0;
}
.wrap-box {
	width: 800px;
	height: auto;
	margin: 0 auto;
	padding-top: 80px;
}
.insert-name {
	padding-bottom: 10px;
	font-size: 20px;
}
.insert-name span {
    padding-left: 5px;
}
label {
	font-size: 20px;
    font-weight: normal;
}
.insert-text {
	padding: 10px 0;
}
#title {
    width: 520px;
    height: 45px;
    padding-left: 10px;
    font-size: 20px;
    position: relative;
    left: 15px;
}
.insert-textarea {
	padding: 10px 0;
}
.insert-textarea > label {
	position: absolute;
}
#content {
	width: 520px;
    height: 300px;
    position: relative;
    left: 55px;
    font-size: 20px;
    padding: 10px;
    resize: none;
}
.insert-btn {
	padding: 14px 0;
	text-align: center;
}
.insert-btn button{
	border-radius: 22px;
    padding: 5px 40px;
    background-color: #5195bb;
    border: none;
    color: #ffffff;
}	
}